#header {
  background-color : black;
  color:white;
  height: 80px;
  text-align: center;
}

#content-container {
  display:table;
  height:400px;
  width:100%;
}

#left-sidebar {
  display: table-cell;
  background-color:#7E8F7C;
  display: table-cell;
  width:15%;
}

#main-content {
  vertical-align: top;
  display: table-cell;
  background-color:#FDF3E7;
  width:70%;
  text-align: center;
}

#main-content div {
  padding-top: 20px;
}

#main-content ul {
  list-style-type : none;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align:left;
  padding-left:0px;
}

#main-content ul li {
  background-color:#EBE1D5;
  padding: 5px;
  margin: 5px;

}

#main-content ul li:hover {
  background-color:#D9CFC3;
}

li:hover .rm-btn{
  display:inline;
}

.rm-btn {
  float: right;
  display:none;
}

#right-sidebar {
  vertical-align: top;
  display: table-cell;
  background-color:#7E8F7C;
  width:15%;
}

#footer {
  background-color:black;
  color:white;
  height:40px;
}

#smart-input {
  height: 35px;
  width: 350px;
}

div.tag {
  display:inline;
}

span.tag {
  color:#0099CC;
  font-style:italic;
}